<ion-header *ngIf="!carregando" mode="ios" class="ion-no-border">
  <ion-toolbar class="header">
    <ion-label *ngIf="nome">Olá, {{nome}}</ion-label>
    <ion-thumbnail routerLink="/tabs/tab4" slot="start">
      <img *ngIf="!foto" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
      <img *ngIf="foto" [src]="foto" />
    </ion-thumbnail>
    <ion-button mode="md" slot="end" (click)="atualizarPagina()" fill="clear">
      <ion-icon size="large" color="primary" name="refresh-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="carregando" mode="ios" class="ion-no-border">
  <ion-toolbar class="header">
    <ion-skeleton-text style="width: 30%; margin-right: 10px" [animated]="true"></ion-skeleton-text>
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="errorConexao && !carregando">
    <div class="container-loading">
      <div class="flex-center">
        <img src="assets/error.svg" />
      </div>
    </div>
    <div class="container-text-loading">
      <ion-label>
        Sem conexão, verifique sua internet
      </ion-label>
    </div>
  </div>
  <div *ngIf="carregando">
    <div class="sub-title2">
      <ion-skeleton-text style="width: 50%; margin-right: 10px" [animated]="true"></ion-skeleton-text>
    </div>
    <ion-card button class="professional-card-list">
      <ion-card-header>
        <div>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </div>
      </ion-card-header>
      <ion-card-content>
        <div class="item-info">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div *ngIf="!carregando">
    <div class="sub-title2">
      <strong slot="start">
        Seus dados básicos
      </strong>
    </div>
    <ion-card  class="card-alert">
      <ion-card-header>
        <div>
          <ion-icon size="large" color="primary" name="fitness"></ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content>
        <!-- <ion-card-subtitle>
        Conheça seu profissional
      </ion-card-subtitle> -->
        <ion-label class="descricao-card-alert">
          Acompanhe suas evoluçoes diárias por você ou pelo 
          seu atendimento.
        </ion-label>
      </ion-card-content>
    </ion-card>
  <div class="flex-start">
    <ion-card (click)="selecionarGS()" button color="primary" class="card-indicador">
      <ion-card-header>
        Grupo Sanguineo
      </ion-card-header>
      <ion-card-content>
        <ion-label *ngIf="!usuarioData?.gs">
         <!-- AB+ -->
         Selecionar
        </ion-label>
        <ion-label *ngIf="usuarioData?.email">
          <!-- AB+ -->
          {{usuarioData?.gs}}
          
         </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card (click)="informar('peso')" button class="card-indicador">
      <ion-card-header>
        Peso
      </ion-card-header>
      <ion-card-content>
        <ion-label class="label-afericao" *ngIf="!usuarioData?.peso">
          <p>
            Ultima pesagem
          </p>
          <!-- 80 kg -->
          Realizar 
        </ion-label>
        <ion-label class="label-afericao" *ngIf="usuarioData?.peso">
          <p>
            Ultima pesagem
          </p>
          <!-- 80 kg -->
           {{usuarioData?.peso}} kg
        </ion-label>
      </ion-card-content>
    </ion-card>
    
    <ion-card (click)="informar('temperatura')" button class="card-indicador">
      <ion-card-header>
        Temperatura 
         
      </ion-card-header>
      <ion-card-content>
        <ion-label class="label-afericao" *ngIf="!usuarioData?.temperatura">
          <p>
            Ultima aferição
          </p>
          Preencher
        </ion-label>
        <ion-label class="label-afericao" *ngIf="usuarioData?.temperatura">
          <p>
            Ultima aferição
          </p>
          {{usuarioData?.temperatura}} C
        </ion-label>
      </ion-card-content>
    </ion-card>
    
  </div>
  <div class="flex-center">
    <ion-card (click)="informar('batimentos')" button class="card-batimento">
      <ion-card-header>
        Batimentos Cardiacos
      </ion-card-header>
      <ion-card-content>
        <ion-label class="label-afericao" *ngIf="!usuarioData?.batimentos">
          <p>
            Ultima aferição
          </p>
          Preencher
        </ion-label>
        <ion-label class="label-afericao" *ngIf="usuarioData?.batimentos">
          <p>
            Ultima aferição
          </p>
          {{usuarioData?.batimentos}} bpm
        </ion-label>
        
      </ion-card-content>
    </ion-card>

    <ion-card (click)="informar('pressao')" button class="card-pressao">
      <ion-card-header>
        Pressão Arterial
      </ion-card-header>
      <ion-card-content>
        <ion-label class="label-afericao" *ngIf="!usuario?.pressaoArterial">
          <p>
            Ultima aferição
          </p>
          Preencher
        </ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</div>

  <div *ngIf="!carregando && !errorConexao">
    <div class="sub-title2">
      <strong slot="start">Profissionais disponiveis</strong>
    </div>
    <div *ngFor="let profissional of profissionais">
      <ion-card button (click)="goProf(profissional)" class="professional-card-list">
        <ion-card-header>
          <div>
            <img *ngIf="profissional?.foto === ''"
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" class="prof-image" />
            <img class="prof-image" *ngIf="profissional?.foto !== ''" [src]="profissional?.foto" />
          </div>
        </ion-card-header>
        <ion-card-content>
          <div class="item-info">
            <ion-label>
              {{profissional?.nome}}
              <p> 
                Clique aqui para solicitar sua estadia
              </p>
            </ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>