.header {
  --background: #f1f5f8;
  ion-title {
    font-size: 18px;
    color: var(--ion-color-sl);
  }
}
.default-top-padding {
  padding-top: 26px !important;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 26px 16px 26px;

  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #434343;
  }

  p {
    margin: 0;
    font-size: 14px;
    color: var(--ion-color-sl);
  }
}

// ion-content{
//   --background: #f1f5f8;
// }

.sl-optButton {
  text-transform: none;
  --border-radius: 30px;
  height: 40px;
  width: 100px;
}

.sl-valor {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
}

.backbtn {
  margin-left: 15px;
}

.notification {
  margin-right: 15px;
}

ion-content {
  // --padding-top: 16px;
  // --padding-bottom: 16px;
  --padding-start: 20px;
  --padding-end: 20px;
  --background: #f1f5f8;
}

.title {
  margin-top: 0;
  color: #434343;
}

.order-items {
  ion-card {
    margin-left: 0;
    margin-right: 0;
    border-radius: 14px;

    ion-card-content {
      display: flex;
      position: relative;
      padding: 14px;
      .item-img {
        display: flex;
        align-items: center;
        // margin-right: 16px;
        width: 50%;
        img {
          object-fit: cover;
          width: 110px;
          height: 110px;
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
          border-radius: 10px;
        }
      }
      ion-card-subtitle {
        text-transform: capitalize;
        font-size: 12px;
      }

      .item-info {
        margin: 0;
        ion-label {
          font-size: 14px;
        }
        p {
          font-size: 16px;
        }

        p:nth-child(1) {
          color: #434343;
        }
        p:nth-child(2) {
          font-size: 12px;
          font-weight: bold;
        }
        p:nth-child(3) {
          // color: var(--ion-color-success);
          font-weight: bold;
        }

        .main-button {
          --border-radius: 10px;
          margin: 10px 0 0 0;
        }

        .main-button::after {
          box-shadow: none !important;
        }
      }
    }
  }
}

.sub-title {
  padding-top: 16px;
  // padding-right: 16px;
  // padding-bottom: 16px;
  // padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  strong {
    font-size: 16px;
    line-height: 36px;
    color: var(--ion-color-primary);
  }
}

.avisos {
  margin: 1px;
  height: 150px;
  width: 100%;
}
.evolucoes {
  // margin: 1px;
  // height: 150px;
  // width: 100%;
  margin-left: 0px;
   margin-top: 5px;
  display: inline-block;
  height: 200px;
  width: 68%;
}

ion-slide{
  width: 45% !important;
  margin-left: 10px;
}

.lembrete-slide {
  width: 45% !important;
  margin-left: 10px;
}

.planos {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  ion-card-content {
    padding: 0;
  }
  ion-card-header {
    padding: 5px;
  }
}

ion-grid {
  padding: 2px;
}

.plan-icon {
  background-color: var(--ion-color-tertiary);
  border-radius: 30px;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.img-aviso {
  height: 80px;
  width: 80px;
  object-fit: contain;
}
.info-header {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 5px;
}

.scroll-horizontal {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.evolucoes-add {
  margin: 1px;
  height: 150px;
  width: 47%;
  text-align: center;
}


 .close{
  position: absolute;
  right: -5px;
  top: -8px;
  // right: 0; top: 0;
 }

 .rm-horario{
  padding: 0;
  margin: 0;
  height: 52px;
 }
